@import '~antd/dist/antd.css'; 

body{
    background-color: rgb(48, 47, 45);
}

/*navigation bar*/

.navBar{
    background-color: whitesmoke;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.navBar > li:hover{
    background-color:grey;
}

.navBar > li{
    text-align: center;
    background-color: whitesmoke;
    cursor: pointer;
    display: inline;
    padding-right: 2%;
    padding-left: 2%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
   
}
.loggedUser{
    color: green;
    text-emphasis-style: bold;
    margin-right: 0;
    text-align: right;
}
.loggedUser:hover{
    background-color: whitesmoke !important;
    cursor: default;
}


/*browse*/

.browseGuide{
    background-color: whitesmoke;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2;
    font-size: 15px;
}

.browseCard {
    text-align: center;
    background-color: ivory;
    margin-right: 5%;
    margin-left: 5%;
    word-wrap: break-word;
}

.browseCard:hover{
    background-color: lightcyan;
    margin-right: 5%;
    margin-left: 5%;
}

/* Login */

.loginForm{
    margin : auto;
    padding: 5%;
    width : 50%;
    background-color: aliceblue;
}

/*Signup */

.signupForm{
    margin : auto;
    padding: 5%;
    width : 50%;
    background-color: aliceblue;
}
.loginLink{
    margin : auto;
    margin-top: 10px;
    padding: 2%;
    width : 50%;
    background-color: aliceblue;
    text-align: center;
}
/*Browse history*/

.historyBrowseNav{
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.historyBrowseNav > li{
    display: inline;
    background-color: lightskyblue;
    cursor: pointer;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
}
.historyBrowseNav > li:hover{
    background-color:grey;
}

.browseHistoryCard{
    text-align: center;
    background-color: ivory;
    margin-right: 5%;
    margin-left: 10%;
}
 
/* Quiz */

.quiz > h1{
    background-color: whitesmoke;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.quiz > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px ;
    width: 50%;
}

.quiz > h3{
    background-color: whitesmoke;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.questionCard{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: -5px;
    -webkit-box-shadow:inset 0px 0px 0px 5px  whitesmoke;
    -moz-box-shadow:inset 0px 0px 0px 5px  whitesmoke;
    box-shadow:inset 0px 0px 0px 5px  whitesmoke;
}

.questionCard h3{
    font-size: 150%;

}
.questionCard Checkbox.Group{
    color: red;
}
.submitBtn{
    background-color: blanchedalmond;
    font-weight: 700;
    position: fixed;
    width: 15%;
    bottom: 5%;
    left: 5%;
    height: 5%;
    border-radius: 5%;
}
.saveBtn{
    background-color: blanchedalmond;
    font-weight: 700;
    position: fixed;
    width: 15%;
    bottom: 12%;
    left: 5%;
    height: 5%;
    border-radius: 5%;
}

.submitBtn:hover{
    cursor: pointer;
    background-color: lightgreen;
}

.saveBtn:hover{
    cursor: pointer;
    background-color: lightgreen;
}

.timer {
    font-size: 50px;
    color: black;
    background-color: white;
    position: fixed;
    top: 15%;
    left: 5%;
}

/*Logout*/

.logout{
    font-size: 20px;
    text-align: center;
    margin : auto;
    padding-top: 5%;
    padding-bottom: 2%;
    width : 50%;
    background-color: aliceblue;
}

.logout > Button{
    font-size: 20px;
    color: whitesmoke;
    width: 40%;
    margin: 5%;
    height: 50px;
}
.handleLogoutBtn {
  
    background-color: rgb(74, 153, 74);
}

.handleBrowseBtn {
    background-color: rgb(156, 48, 48);
}

/* Build quiz*/

.buildGuide{
    background-color: whitesmoke;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2;
    font-size: 15px;
}

.quizBuildDiv{
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.quizBuildDiv div{
    text-align: center;
    background-color: whitesmoke;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
    
}

.buildTitle > label{
   font-size: 100%;
   margin-top: 50%;
   font-weight: 700;
   margin-right: 2%;
}

.buildDescription > label{
   margin-top: 50%;
   font-weight: 700;
   margin-right: 2%;
}

.conjoiner {
    display: table-row;
    width: 100%;
    display: table;
}

.conjoiner > div{
    display: table-cell;
    text-align: center;
}

.conjoiner > div > label{
    font-weight: 700;
    margin-right: 5%;
}

.buildTime > input{
    text-align: center;
    width: 50%;
}

.buildInputs{
    width: 50%;
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
    line-height: 2;
    font-size: 15px;
}

.buildInputs > div{
    font-weight: 700;
    margin-bottom: 1%;
}

.buildInputs > div > label{
    margin-right: 3%;
    margin-left: 5%;
}

.buildQuestion{
    padding-top: 5%;
}

.buildAnswers{
    padding-top: 3%;
    padding-bottom: 5%;
}



.addQuestion{
    font-weight: 700;
    position: fixed;
    width: 15%;
    bottom: 58%;
    left: 5%;
    height: 5%;
}

.removeQuestion{
    font-weight: 700;
    position: fixed;
    width: 15%;
    bottom: 50%;
    left: 5%;
    height: 5%;
}

.buildSubmit{
    background-color: blanchedalmond;
    font-weight: 700;
    position: fixed;
    width: 15%;
    bottom: 5%;
    left: 5%;
    height: 5%;
    border-radius: 5%;
}

.buildSubmit:hover{
    cursor: pointer;
    background-color: lightgreen;
}